* {
  box-sizing: border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.c-container {
  margin: 0 auto;
  outline: 1px solid #fff;
  width: max-content;

  transform: scale(2) translateY(50%);
}

.c-container canvas {
  image-rendering: pixelated;
}
